.boxContainer {
  background-color: #edf7fa;
}
.div {
  background-color: #edf7fa;
}
.box-1 {
  background-color: #fff;
  margin-top: 69px;
  margin-bottom: 32px;
  margin-left: 45px;
}
.box-2 {
  background-color: #fff;
  margin-top: 69px;
  margin-bottom: 32px;
  margin-left: 45px;
}
